repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: no-commit-to-branch
  - id: check-merge-conflict
  - id: trailing-whitespace

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v1.6.1
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes]

#- repo: https://github.com/ansible/ansible-lint.git
#  rev: v4.3.0a1
#  hooks:
#  - id: ansible-lint
#    files: \.(yaml|yml)$
